@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import "reset";

html,
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: url(assets/orelsan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.soundbox {
  background: #e74c3c;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 8px rgba($color: #000000, $alpha: 0.4);
  padding: 20px;
  border-radius: 12px;
  transition: all 0.1s ease;
  .icon {
    width: 50px;
    height: auto;
  }
  .title {
    margin-top: 1em;
    font-family: "Montserrat";
    font-weight: bold;
  }
  &:active {
    box-shadow: 4px 8px 16px rgba($color: #000000, $alpha: 0.4);
  }
}
.hidden {
  display: none;
}

*::focus { outline: none; }